/* basic way to reach a element is start with
either . for class [] for attributes and simple
tag name for tags.
while moving from one tag to another place a space
eg. body div h4{}, .class-name{}, 
tag.class-name[attr='value']
*/
p{color: blue;}
a{
    color: black ;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    color: forestgreen;
}
body{
	margin-left:20px;
	margin-right:20px;
}

.card{
    /* Make a section like card */
    width: min-content;
    box-shadow: 0 4px 8px 
    0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.top{
    background-color: rgb(0, 255, 149);
    text-align: center;
    margin: -20px;
    margin-bottom: 0px;
    overflow: auto;
    border-color: grey;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.top:hover{
    /*border-color: gold;
    border-radius: 20mm;    */
    box-shadow: 0 0 5px grey;
    
}

.top div{
    float: left;
    margin: 0 1.5%;
    width: 30%;
}

.top div img{
    max-width: 100%;
    height: auto;
}
.section h3{
    color: darkred;
    
}
.section li{
    color: black;
    
}

div [name='video-title']{
    color: red;
    padding-bottom: 5%;
}

div.video-container{
    text-align: center;
}
div.video-container:hover{
    /* Add blur around the card on hover */
    box-shadow: 0 0 15px grey;
    border-radius: 5mm;
}

.section hr{
    width: 23%;
    text-align: left;
    margin-left: 0% ;
}

