body {
	background-color: floralwhite;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	margin-left:20px;
	}
div {
	
	font-size: 20px;
	/*border: 2px solid powderblue;
	padding: 30px;*/
	}

div[name='top']{
	float: right;
}

div[name='top'] .hover {
	font-size: 70%;
	display: none;
  }
  
  div[name='top']:hover .hover {
	display: block;
  }
