a{
    font-style: italic;
}
a:hover{
    color: forestgreen;
}




div{
    margin: 1% 1%;
}

.card:hover{
    box-shadow: 0 0 70px grey;
    border-radius: 20mm;
}

.btn:hover{
    box-shadow: 0 0 5px grey;
    border-radius: 20mm;
}

input:hover{
    box-shadow: 0 0 5px grey;
    border-radius: 5mm;
}

[name='contactTable'] tr{
   padding-right: 200%;

}